html, body {
	background-color: #f1f1f1;
}

/* Styling for macro page sections */
header, footer {
	border-radius: 1%;
	padding: 2.5% 0% 2.5% 0%
}
footer {
	margin-top: auto;
	bottom: 5%;
}
content {
	display: flex;
	flex-direction: row;
}

/* Navigation List Styling */
navlist {
  list-style-type: none;
	display: block;
  margin: 0;
  padding: 0;
}
navitem {
	margin-right: 5px;
	padding-right: 5px;
}

/* Screen Size Adjustments */
@media only screen and (max-width: 1000px) {
	navitem {
		display: block;
		border-right-style: none;
	}
}
@media only screen and (min-width: 1000px) {
	navitem {
		display: inline;
		border-right-style: solid;
	}
}

/* Font Styling */
h1 {
	font-size: 50px;
	letter-spacing: 4px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
}
h2 {
	font-size: 25px;
	letter-spacing: 4px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
h3 {
	font-size: 20px;
	letter-spacing: 4px;
	font-weight: 350;
	font-family: 'Montserrat', sans-serif;
}
h4 {
	line-height: 0.25;
	font-size: 18px;
	letter-spacing: 3px;
	font-weight: 350;
	font-family: 'Montserrat', sans-serif;
}
.navbar-font {
	font-size: 25px;
	letter-spacing: 4px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
p {
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 350;
	font-family: 'Montserrat', sans-serif;
}
li {
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 350;
	font-family: 'Montserrat', sans-serif;
}

/*Link Text Styling*/
a:link{
color: black;
text-decoration: none;
}
a:visited{
color: black;
text-decoration: none;
}
a:hover{
color: gray;
text-decoration: none;
}

.divline{
border-style: solid;
border-width: .5px;
width: 100% - 1px;
margin-bottom: 2.5%
}
.thickdivline{
border-style: solid;
border-width: 1px;
width: 100% - 1px;
margin-bottom: 2.5%
}
