<!--FOOTER BEGINS HERE-->
<footer id="footer">
	<div class="divline"></div>
	<div id="bottom-navigation">
		<a tabindex="0" target="_blank" href="//linkedin.com/in/michael-hartmann/">LINKEDIN</a>
		<a tabindex="0" target="_blank" href="//github.com/MichaelPHartmann">GITHUB</a>
		<a tabindex="0" href="mailto:michaelpeterhartmann94@gmail.com">EMAIL</a>
		<a tabindex="0" target="_blank" href="//instagram.com/michaelpeterhartmann/">INSTAGRAM</a>
		<a tabindex="0" target="_blank" href="//letterboxd.com/mikelikemovies/">LETTERBOXD</a>
	</div>
</footer>
<!--FOOTER ENDS HERE-->
