			<!--FOOTER BEGINS HERE-->

			<footer>
				<div id="thickdivline"></div>
				<navlist>
					<navitem class="navbar-font"><a href="//www.linkedin.com/in/michael-hartmann/">LINKEDIN</a></navitem>
					<navitem class="navbar-font"><a href="//github.com/MichaelPHartmann">GITHUB</a></navitem>
					<navitem class="navbar-font"><a href="mailto:michaelpeterhartmann94@gmail.com">EMAIL</a></navitem>
					<navitem class="navbar-font"><a href="www.instagram.com/michaelpeterhartmann/">INSTAGRAM</a></navitem>
					<!-- <navitem class="navbar-font"><a rel="me" href="https://mstdn.ca/@michaelhartmann">MASTADON</a></navitem> -->
				</navlist>
			</footer>

			<!--FOOTER ENDS HERE-->
