<!--FOOTER BEGINS HERE-->

<footer>
<div id='thickdivline'></div>
<footernav><mainheading><a href='//www.linkedin.com/in/michael-hartmann/'>LinkedIn // </a></mainheading></footernav>
<footernav><mainheading><a href='//github.com/MichaelPHartmann'>GitHub // </a></mainheading></footernav>
<footernav><mainheading><a href='mailto:michaelpeterhartmann94@gmail.com'>Email // </a></mainheading></footernav>
<footernav><mainheading><a href='www.instagram.com/michaelpeterhartmann/'>Instagram // </a></mainheading></footernav>
</footer>

<!--FOOTER ENDS HERE-->
