<!--HEADER BEGINS HERE-->

<header>
<pageheading>Michael Hartmann</pageheading>
<div id="thickdivline"></div>
<headernav><mainheading><a href="//michaelphartmann.github.io/index.html">Home // </a></mainheading></headernav>
<headernav><mainheading><a href="//michaelphartmann.github.io/resume.html">Resume // </a></mainheading></headernav>
<headernav><mainheading><a href="//finmesh.readthedocs.io/en/latest/">FinMesh // </a></mainheading></headernav>
<headernav><mainheading><a href="//michaelphartmann.github.io/projects.html">Projects // </a></mainheading></headernav>
<headernav><mainheading><a href="//michaelphartmann.github.io/about.html">About // </a></mainheading></headernav>
</header>

<!--HEADER ENDS HERE-->
