<!--HEADER BEGINS HERE-->

<header>
	<h1>Michael Hartmann</h1>
	<div class="thickdivline"></div>
	<navlist>
		<navitem class="navbar-font"><a href="./index.html">HOME</a></navitem>
		<navitem class="navbar-font"><a href="./resume.html">RESUME</a></navitem>
		<navitem class="navbar-font"><a href="//finmesh.readthedocs.io/en/latest/">FINMESH</a></navitem>
		<navitem class="navbar-font"><a href="./projects.html">PROJECTS</a></navitem>
		<navitem class="navbar-font"><a href="./about.html">ABOUT</a></navitem>
	</navlist>
</header>

<!--HEADER ENDS HERE-->
