<!DOCTYPE html>

<html lang="en-ca">
<!--HEAD BEGINS HERE-->

<head>
<!--
They say a jack-of-all-trades but master of none is still better than a master of one.
In all of my pursuits I found common threads that drew me in:
- a chance to solve challenging problems
- opportunity to learn something new.

If you're hiring, send me a message!
-->

<!--Define Meta Characteristics-->
<meta charset="utf-8" name="description" content="Software + Finance + Coffee">

<!-- Define Language -->
<meta http-equiv="content-language" content="en-ca">

<!-- Initialize Viewport -->
<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">

<!-- Load Favicon -->
<link rel="preload" href="//michaelphartmann.github.io/background/favicon-32x32.png" as="icon" >
<link rel="icon" href="//michaelphartmann.github.io/background/favicon-32x32.png">

<!--Web Page Title-->
<title>Michael Hartmann</title>

<!--Link to StyleSheet-->
<link rel="stylesheet" href="//michaelphartmann.github.io/style/main.css" >
<link rel="stylesheet" href="//michaelphartmann.github.io/style/index.css" >

<!--Import Fonts from Google Fonts-->
<link rel="preconnect" href="//fonts.gstatic.com" >
<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap" >

</head>

<!--HEAD ENDS HERE-->

<body>
	<div id="page-container">

		<!--HEADER BEGINS HERE-->

		<header>
			<h1>Michael Hartmann</h1>
			<div id="thickdivline"></div>
			<navlist>
				<navitem class="navbar-font"><a href="//michaelphartmann.github.io/index.html">HOME</a></navitem>
				<navitem class="navbar-font"><a href="//michaelphartmann.github.io/resume.html">RESUME</a></navitem>
				<navitem class="navbar-font"><a href="//finmesh.readthedocs.io/en/latest/">FINMESH</a></navitem>
				<navitem class="navbar-font"><a href="//michaelphartmann.github.io/projects.html">PROJECTS</a></navitem>
				<navitem class="navbar-font"><a href="//michaelphartmann.github.io/about.html">ABOUT</a></navitem>
			</navlist>
		</header>

		<!--HEADER ENDS HERE-->

		<content>
			<!--PAGE CONTENT GOES HERE-->
		</content>

			<!--FOOTER BEGINS HERE-->

			<footer>
				<div id="thickdivline"></div>
				<navlist>
					<navitem class="navbar-font"><a href="//www.linkedin.com/in/michael-hartmann/">LINKEDIN</a></navitem>
					<navitem class="navbar-font"><a href="//github.com/MichaelPHartmann">GITHUB</a></navitem>
					<navitem class="navbar-font"><a href="mailto:michaelpeterhartmann94@gmail.com">EMAIL</a></navitem>
					<navitem class="navbar-font"><a href="www.instagram.com/michaelpeterhartmann/">INSTAGRAM</a></navitem>
					<!-- <navitem class="navbar-font"><a rel="me" href="https://mstdn.ca/@michaelhartmann">MASTADON</a></navitem> -->
				</navlist>
			</footer>

			<!--FOOTER ENDS HERE-->

		</div>
	</body>
</html>
