<!DOCTYPE html>

<html>
<!--HEAD BEGINS HERE-->

<head>

<!--Define Meta Characteristics-->
<meta charset="utf-8" name="description" content="Business graduate with a specialization in finance and interests
in programming Python and financial modelling.">

<!-- Define Language -->
<meta http-equiv="content-language" content="en-ca">

<!-- Initialize Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Web Page Title-->
<title>Michael Hartmann</title>

<!--Link to StyleSheet-->
<link rel="preload" href="https://michaelphartmann.github.io/mikewebstyle.css" as="style">
<link rel="stylesheet" href="https://michaelphartmann.github.io/mikewebstyle.css" />

<!--Import Fonts from Google Fonts-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap" />

</head>

<!--HEAD ENDS HERE-->


<body>
<div class="container">
<!--HEADER BEGINS HERE-->

<header>
<pageheading>Michael Hartmann</pageheading>
<div id='thickdivline'></div>
<headernav><mainheading><a href='https://michaelphartmann.github.io/index.html'>Home // </a></mainheading></headernav>
<headernav><mainheading><a href='https://michaelphartmann.github.io/resume.html'>Resume // </a></mainheading></headernav>
<headernav><mainheading><a href='https://finmesh.readthedocs.io/en/latest/'>FinMesh // </a></mainheading></headernav>
<!-- <headernav><mainheading><a href='https://michaelphartmann.github.io/projects.html'>Projects // </a></mainheading></headernav> -->
</header>

<!--HEADER ENDS HERE-->

<content>
<!--PAGE CONTENT GOES HERE-->
</content>

<!--FOOTER BEGINS HERE-->

<footer>
<div id='thickdivline'></div>
<footernav><mainheading><a href='https://www.linkedin.com/in/michael-hartmann/'>LinkedIn // </a></mainheading></footernav>
<footernav><mainheading><a href='https://github.com/MichaelPHartmann'>GitHub // </a></mainheading></footernav>
<footernav><mainheading><a href='mailto:michaelpeterhartmann94@gmail.com'>Email // </a></mainheading></footernav>
<footernav><mainheading><a href='https://www.instagram.com/michaelpeterhartmann/'>Instagram // </a></mainheading></footernav>
</footer>

<!--FOOTER ENDS HERE-->
</div>
</body>

</html>
