<link type="text/css" rel="stylesheet" href="{{ absURL `styles/lightgallery-style/lightgallery-bundle.css` }}" />
<script src="{{ absURL `js/lightgallery.min.js` }}"></script>
<script src="{{ absURL `js/lightgallery-plugins/thumbnail/lg-thumbnail.min.js` }}"></script>
<script src="{{ absURL `js/lightgallery-plugins/zoom/lg-zoom.min.js` }}"></script>


<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        plugins: [lgZoom, lgThumbnail],
        licenseKey: "",
        speed: 500
    });
</script>

<div id="lightgallery">
    {{ range .Page.Resources.Match "images/*" }}
        {{ $image := . }}
        {{ $adjusted := $image.Fit "600x600" }}
        {{ $thumbnail := $image }}
        {{ with $adjusted }}
        <a href="{{ .RelPermalink }}" >
            <img alt="portfolio image " src="{{ .RelPermalink }}" />
        </a>
        {{ end }}
    {{ end }}
</div>

